asgiref==3.12.1
Django==6.1.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
inflection==0.5.1
packaging==26.3
psycopg2-binary==2.9.13
PyJWT==2.15.0
pytz==2026.4
PyYAML==6.0.3
sqlparse==0.6.0
uritemplate==4.2.0
firebase-admin>=6.5.0
